.itemDetail {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.itemDetail__active {
  max-height: 1000px;
}

.itemTitle {
  cursor: pointer;
  user-select: none;
}

.itemAside {
  margin-right: 60px;
}
