body {
	font-family: Courier, monospace;
	max-width: 500px;
	padding: 12px;
}

h1 {
	font-size: 21px;
	font-weight: 300;
}

h1 + p {
	margin-top: 12px;
}

hr {
	margin: 7px auto 21px 0;
	width: 300px;
}

section {
	margin-top: 21px;
}

.date {
	display: inline-block;
	width: 150px;
}

.date + .company {
	padding-left: 12px;
}

ul > li {
	list-style: none;
}

ol {
	margin-left: 50px;
}

ol > li {
	margin-top: 12px;
}

#work ul > li {
	cursor: pointer;
	margin-bottom: 21px;
}

#work div {
	display: none;
}

#work .active div {
	border-top: 1px solid black;
	display: block;
}

#work .active p {
	padding-left: 12px;
}

#work .active {
	background-color: yellow;
}

#contact ul > li {
	margin-bottom: 16px;
}

a:visited {
	color: blue;
}

p {
	line-height: 2em;
}
