body {
  background-color: #FF5722;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 25px;
  margin-top: 50px;
}

a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

a, li {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 32px;
}

ul {
  list-style: none;
  padding: 0;
}
