body {
	font-family: Helvetica, sans-serif;
	max-width: 500px;
	padding: 12px;
}

h1 {
	font-size: 21px;
	font-weight: 300;
}

h1 + p {
	margin-top: 12px;
}

hr {
	margin: 7px auto 21px 0;
	width: 300px;
}

section {
	margin-top: 21px;
}

.date + .company {
	padding-left: 12px;
}

li {
	list-style: none;
}

#work ul > li {
	margin-bottom: 21px;
}

#work div {
	display: none;
}

#contact ul > li {
	margin-bottom: 16px;
}

a:visited {
	color: blue;
}
